ul {
    list-style-type: square; /* This is the default, but you can change to circle, square, etc. */
    padding-left: 20px; /* Add some padding to indent the list */
}
li {
    list-style-type: disc;
    align-items: center;
}
h5{
    margin: 0;
}
div{
    margin-bottom: 40px;
    margin-left: 20px;
}
.toberead{
    display: flex;
    padding: 7px;
}

